.root {
  display: flex;
  .chart {
    width: 450px;
    height: 250px;
  }

  .chartGroup {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
  }
  .chartDot {
    margin-right: 6px;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
  }
}
